@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.IdentityModel.Tokens
@model IEnumerable<Recomendations_app.Models.ReviewModel>

@{
    ViewData["Title"] = "Search results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search result</h1>
@if (!Model.IsNullOrEmpty())
{
    @foreach (var item in Model)
    {
        <div class="card border-success mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 ramka">
                    <img src="@Url.Content(item.Images[0].ImageLink)" class="card-img-top" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            @item.Title Avg.rating:
                            @if (@item.Comments.Count != 0)
                            {
                                @item.Comments.Average(x => x.UserRating)
                            }
                            else
                            {
                                <b>0</b>
                            }
                        </h5>
                        <p class="card-text">@item.ReviewBody</p>
                        <p class="card-text">
                            <small class="text-muted">Created @item.DateOfCreationInUTC</small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Author @item.Author.UserName likes: @item.Author.LikesCount</small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Author rate @item.AuthorGrade</small>
                        </p>
                        <p class="card-text">
                            @foreach (var tag in item.Tags)
                            {
                                <small class="text-muted">@tag.Name</small>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>Nothing was found</p>
}

