@inject SignInManager<UserModel> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Recomendations_app.Models.ReviewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div id="block">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewBody)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfCreationInUTC)
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.Subject)
                </th>*@
                <th>
                    Tags
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Images[0].ImageLink)
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.Author)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorGrade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewBody)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfCreationInUTC)
                    </td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            <b>@tag.Name</b>
                        }
                    </td>
                    @if (item.Images[0].ImageLink != null)
                    {
                        <td>
                            <img src="@Url.Content(item.Images[0].ImageLink)" alt="Image" style="width: 150px; height: 220px;" />
                        </td>
                    }
                    @*
                @*<td>
                @Html.DisplayFor(modelItem => item.Author.Id)
                </td>*@
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="Review" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a asp-controller="Review" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        <a asp-controller="Review" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
