
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Recomendations_app.Models.UserModel>


<h1>Users</h1>

<div id="block">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.ActionLink(@item.UserName, "Index", "Users",new{name = item.UserName}, new { @class = "nav-link" })
                    </td>
                    <td>
                        <a asp-controller="Review" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Review" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Review" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
