
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Recomendations_app.Models.UserModel>


<h1>Users</h1>

<div id="block">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.ActionLink(@item.UserName, "Index", "Users", new { name = item.UserName }, new { @class = "nav-link" })
                    </td>
                    <td>
                        <form>
                            <input type="hidden" name="selectedUser" value="@item.UserName" />
                            <button type="submit" formaction="@Url.Action("MakeAdmin")" formmethod="post" class="btn">Block</button> |
                            <button type="submit" formaction="@Url.Action("Block")" formmethod="post" class="btn">Block</button> |
                            <button type="submit" formaction="@Url.Action("Delete")" formmethod="post" class="btn">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
