@{
    ViewData["Title"] = "Home Page";
}

@model UserModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
@if (@User.IsInRole("Administrator") || @User.Identity.Name.Equals(@Model.UserName))
{
    <p>
        @Html.ActionLink("Create new", "Create", "Review", new { name = @Model.UserName })
    </p>
}
<p>
    @Html.ActionLink("User rate", "Index", new { sortOrder = ViewBag.RateSortParm })
    @Html.ActionLink("Creation Date", "Index", new { sortOrder = ViewBag.DateSortParm })
    
        <form method="get">
            <label class="control-label">minimum rate</label>
            <input type="text" class="form-control" name="rate">
            <input type="hidden" name="name" value=@Model.UserName />
            <input type="submit" class="btn btn-outline-success" value="Filter category"/>
        </form>
</p>
<div id="block">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Category
                </th>
                <th>
                    Author Grade
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                
                <th>
                    DateOfCreationInUTC
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Tags
                </th>
                <th>
                    Image
                </th>
                <th>
                @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reviews)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorGrade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfCreationInUTC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            <b>@tag.Name</b>
                        }
                    </td>
                    @if (item.Images[0].ImageLink != null)
                    {
                        <td>
                            <img src="@Url.Content(item.Images[0].ImageLink)" alt="Image" style="width: 150px; height: 220px;" />
                        </td>
                    }
                     
                     <td>
                        @Html.DisplayFor(modelItem => item.Author.UserName)
                        <input name="id" type="hidden"/>
                        <div class="ui labeled button mt-5 ml-5" tabindex="0" id="like">
                            <button type="submit" class="btn btn-outline-secondary btn-floating" disabled>
                                <i class="fa-solid fa-thumbs-up"></i>
                            </button>
                            <span class="ui basic blue label">@Html.DisplayFor(modelItem => item.Author.LikesCount)</span>
                        </div>
                     </td>
                    <td>
                        <a asp-controller="Review" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Review" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Review" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
